<div class="container py-4">

    <!-- ✅ SUCESSO -->
    <div *ngIf="submitted" class="text-center success-box">

        <h2 class="mb-3">✅ Proposta enviada!</h2>

        <p class="text-muted">
            Obrigado! Em breve alguém pode entrar em contato com você.
        </p>

        <p class="mt-3">
            Redirecionando para o álbum...
        </p>

    </div>

    <div *ngIf="!submitted">

        <h3 class="mb-4 text-center">🔁 Proposta de troca</h3>

        <!-- Figurinha desejada -->
        <div class="mb-4 text-center">
            <strong>Você quer:</strong>

            <div class="sticker-card mt-2" *ngFor="let s of wanted">
                <img [src]="s.imageUrl">
                <ul class="sticker-info">
                    <li class="code">👕 {{ s.code }}</li>
                    <li class="name">👤 {{ s.name }}</li>
                    <li class="selection">🏳️ {{ s.selection }}</li>
                </ul>
            </div>
        </div>

        <!-- Ofertas -->
        <div class="mb-4">
            <strong>Você oferece:</strong>

            <div class="d-flex flex-wrap gap-2 mt-2">
                <div class="badge bg-success" *ngFor="let s of offered">
                    👕{{ s.code }} - 👤{{ s.name }} - 🏳️({{ s.selection }})
                </div>
            </div>
        </div>

        <!-- Form -->
        <form (ngSubmit)="submit()">

            <div class="mb-3">
                <label>Nome completo</label>
                <input type="text" class="form-control" [(ngModel)]="name" name="name" required>
            </div>

            <div class="mb-3">
                <label>Telefone</label>
                <input type="tel" class="form-control" [(ngModel)]="phone" name="phone" maxlength="15"
                    placeholder="(83) 99999-9999" mask="(00) 00000-0000">
            </div>

            <button class="btn btn-success w-100" [disabled]="!name || phone.trim().length !== 11">
                Enviar proposta
            </button>

        </form>
    </div>

</div>