<div class="container py-4">

  <div class="d-flex justify-content-end mb-3">
    <button class="btn btn-outline-primary" type="button" (click)="goToLogin()">
      Ir para Login
    </button>
  </div>

  <!-- 👤 Header do usuário -->
  <app-header [username]="username" [owned]="totalOwnedStickers" [total]="qtdStickersInAlbum">
  </app-header>

  <!-- 🧠 Resumo -->
  <app-summary [owned]="totalOwnedStickers" [repeated]="totalStickersRepeated" [missing]="getMissingCount()">
  </app-summary>

  <!-- 🔁 PARA TROCA -->
  <div class="d-flex justify-content-between align-items-center mb-3 flex-wrap gap-2">
    <h4 class="mb-0">🔁 Disponíveis para troca</h4>

    <app-filter-input placeholder="🔍 Pesquise por código" [(value)]="tradeFilter" (valueChange)="loadDataRepeated(0)">
    </app-filter-input>
  </div>

  <div class="row g-3 mb-5">

    <div class="col-4 col-md-2" *ngFor="let sticker of getTradeStickers()">

      <app-sticker-card [sticker]="sticker" variant="trade" [selectable]="true" [selected]="isTradeSelected(sticker)"
        (cardClick)="toggleTradeSelection($event)">
      </app-sticker-card>
      <div class="text-center mt-1 small text-warning" *ngIf="repeatedCountOf(sticker) > 1">
        x{{ repeatedCountOf(sticker) }}
      </div>

    </div>

  </div>

  <div class="text-center mb-4">

    <button class="btn btn-success" [disabled]="selectedToTrade.length === 0" (click)="openTradeModalMultiple()">

      🔁 Propor troca ({{ selectedToTrade.length }})

    </button>

  </div>
  <app-pagination [page]="currentPageRepeated" [totalPages]="totalPagesRepeated" (previous)="previousPageRepeated()"
    (next)="nextPageRepeated()">
  </app-pagination>


  <!-- ❌ FALTANTES -->
  <div class="d-flex justify-content-between align-items-center mb-3 flex-wrap gap-2">
    <h4 class="mb-0">❌ Faltantes</h4>

    <app-filter-input placeholder="🔍 Pesquise por código" [(value)]="missingFilter"
      (valueChange)="loadDataNotOwned(0)">
    </app-filter-input>
  </div>

  <div class="row g-3 mb-5">

    <div class="col-4 col-md-2" *ngFor="let sticker of getMissingStickers()">

      <app-sticker-card [sticker]="sticker" variant="missing">
      </app-sticker-card>

    </div>

  </div>
  <app-pagination [page]="currentPageNotOwned" [totalPages]="totalPagesNotOwned" (previous)="previousPageNotOwned()"
    (next)="nextPageNotOwned()">
  </app-pagination>
</div>

<!-- 🔁 MODAL DE TROCA -->
<app-trade-modal #tradeModal [wanted]="selectedToTrade" [available]="getMissingStickers()"
  [selectedOffers]="selectedOffers" [(filter)]="missingFilter" [currentPage]="currentPageNotOwned"
  [totalPages]="totalPagesNotOwned" (toggleOffer)="toggleOfferSelection($event)" (filterChange)="loadDataNotOwned(0)"
  (nextPage)="nextPageNotOwned()" (previousPage)="previousPageNotOwned()" (confirm)="submitTrade()">
</app-trade-modal>