<div class="container py-4">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="button" class="btn btn-primary"
            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
            (click)="logout()">
            Logout
        </button>
    </div>

    <h2 class="mb-4 text-center">🏆 Meu Álbum</h2>

    <!-- Contadores -->
    <div class="text-center mb-3">
        ✔ {{ getOwnedCount() }} |
        🔁 {{ getRepeatedCount() }} |
        ❌ {{ getMissingCount() }}
    </div>

    <!-- Campo de pesquisa -->
    <div class="d-flex justify-content-between align-items-center mb-4 flex-wrap gap-2">

        <h4 class="mb-0">📖 Figurinhas</h4>

        <app-filter-input placeholder="🔍 Pesquise por código" [(value)]="search" (valueChange)="onSearchInput()">
        </app-filter-input>

    </div>

    <!-- Filtros -->
    <div class="d-flex justify-content-center gap-2 mb-4 flex-wrap">
        <button class="btn btn-outline-primary" (click)="filter = 'ALL'">Todas</button>
        <button class="btn btn-outline-success" (click)="filter = 'OWNED'">Tenho</button>
        <button class="btn btn-outline-warning" (click)="filter = 'REPEATED'">Repetidas</button>
        <button class="btn btn-outline-danger" (click)="filter = 'MISSING'">Faltantes</button>
    </div>

    <!-- Grid -->
    <div class="row g-3">

        <div class="col-6 col-md-3 col-lg-2" *ngFor="let sticker of filteredStickers()">

            <app-sticker-card [sticker]="sticker" [variant]="
            sticker.repeated
                ? 'trade'
                : sticker.owned
                    ? 'owned'
                    : 'missing'">

                <div actions>

                    @if (filter === 'MISSING') {

                    <button class="btn btn-sm btn-success" (click)="toggleOwned(sticker)">

                        ✔

                    </button>

                    }

                    @if (filter === 'OWNED' && !sticker.repeated) {

                    <button class="btn btn-sm btn-danger" (click)="toggleOwned(sticker)">

                        ❌

                    </button>

                    <button class="btn btn-sm btn-warning" (click)="toggleRepeated(sticker)">

                        🔁

                    </button>

                    }

                    @if (filter === 'REPEATED') {

                    <button class="btn btn-sm btn-warning" (click)="toggleRepeated(sticker)">

                        ❌

                    </button>

                    }

                </div>

            </app-sticker-card>

        </div>
        <app-pagination [page]="currentPage" [totalPages]="totalPages" (previous)="previousPage()" (next)="nextPage()">
        </app-pagination>

    </div>

</div>