<div class="container py-4">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="button" class="btn btn-primary"
            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
            (click)="logout()">
            Logout
        </button>
    </div>

    <h2 class="mb-4 text-center">🏆 Meu Álbum</h2>

    <!-- Contadores -->
    <div class="text-center mb-3">
        ✔ {{ getOwnedCount() }} |
        🔁 {{ getRepeatedCount() }} |
        ❌ {{ getMissingCount() }}
    </div>

    <!-- Campo de pesquisa -->
    <div class="row justify-content-center mb-4">
        <div class="col-12 col-md-8 col-lg-6">
            <input type="text" class="form-control" placeholder="🔍 Pesquise por código" [(ngModel)]="search"
                (input)="search = search.toUpperCase(); onSearchInput()">
        </div>
    </div>

    <!-- Filtros -->
    <div class="d-flex justify-content-center gap-2 mb-4 flex-wrap">
        <button class="btn btn-outline-primary" (click)="filter = 'ALL'">Todas</button>
        <button class="btn btn-outline-success" (click)="filter = 'OWNED'">Tenho</button>
        <button class="btn btn-outline-warning" (click)="filter = 'REPEATED'">Repetidas</button>
        <button class="btn btn-outline-danger" (click)="filter = 'MISSING'">Faltantes</button>
    </div>

    <!-- Grid -->
    <div class="row g-3">

        <div class="col-6 col-md-3 col-lg-2" *ngFor="let sticker of filteredStickers()">

            <div class="sticker-card" [ngClass]="{
             'owned': sticker.owned,
             'repeated': sticker.repeated
           }">


                <div class="sticker-info">
                    <strong>👕{{ sticker.code }}</strong>

                    <div class="player">{{ sticker.name }}</div>

                    <div class="team">
                        <span class="badge bg-dark me-1">
                            {{ sticker.code }}
                        </span>
                        {{ sticker.selection }}
                    </div>
                </div>

                <!-- Ações -->
                <div class="actions">

                    @if (filter === 'MISSING') {
                    <button class="btn btn-sm btn-success" (click)="toggleOwned(sticker)">
                        ✔
                    </button>
                    }

                    @if ( filter === 'OWNED' && !sticker.repeated) {

                    <button class="btn btn-sm btn-danger" (click)="toggleOwned(sticker)">
                        ❌
                    </button>

                    <button class="btn btn-sm btn-warning" (click)="toggleRepeated(sticker)">
                        🔁
                    </button>
                    }

                    @if (filter === 'REPEATED') {
                    <button class="btn btn-sm btn-warning" (click)="toggleRepeated(sticker)">
                        ❌
                    </button>
                    }




                </div>

            </div>

        </div>
        <nav class="mt-4">
            <ul class="pagination justify-content-center">
                <li class="page-item" [class.disabled]="currentPage === 0">
                    <button class="page-link" (click)="previousPage()">
                        Anterior
                    </button>
                </li>
                <li class="page-item disabled">
                    <span class="page-link">
                        Página {{ currentPage + 1 }} de {{ totalPages}}
                    </span>
                </li>
                <li class="page-item" [class.disabled]="currentPage === totalPages - 1">
                    <button class="page-link" (click)="nextPage()">
                        Próxima
                    </button>
                </li>
            </ul>
        </nav>

    </div>

</div>